* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Futura ND Alt W03 Light";
    
}

html, body {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding: 0.1px;
}

#nav{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 35px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    height: 100%;
    width: 20%;
    /* background-color: lime; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Monument Extended Bold";
    font-size: 40px;
    letter-spacing: -1px;
    position: relative;
    
}
#nav h1::after{
    content: "©️";
    font-weight: 100;
    font-size: 16PX;
    position: absolute;
    top: 10%;
    right: 8%;
}
#nav h2{
    height: 100%;
    width: 22%;
    /* background-color: lime; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 22px;
    font-weight: 600;
}
#nav h2:nth-last-child(2){
    width: 29%;
    
}
#nav h2:nth-last-child(1){
        width: 10%;
        
}
#center{
    width: 100%;
    height: 90%;
    /* background-color: red; */
    position: relative;
    padding: 6vh;
    
}   
#content{
    height:100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
    
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 50%;
    width: 100%;
    position: absolute; 
    bottom: 0;
    /* background-color: rebeccapurple; */
    padding: 3vw;
    color: #fff;
    /* background-color: #3a3939;
    backdrop-filter: blur(5px); */
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5vw;
}
#over1 h1{
    font-family: "Monument Extended Bold";
    font-size: 3.6vw;

}
#over1 h2{
    font-size: 1vw;
    padding: 2vw 2.2vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid #fff;
    

}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1vw 0;
}
#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
}
#over2 img{
    height: 3vw;
}
#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 1vw;
    animation-name: anime;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#scroll img{
    height: 85%;
    border-radius: 50%;
    width: 14%;
    margin: 1vw;
    object-fit: cover;
    object-position: 30% 30%;
   
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabet{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

}
#alphabet h5{
    font-size: 1.7vw;
    font-weight: 900;
    font-style:  italic;  
    letter-spacing: 4px;
    border-bottom: 2px solid #000;
    margin-right: 2vw;
}
#alphabet h6{
    font-size: 1vw;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 4px;
    /* background-color: yellow; */
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #00000000;
    transition: all ease 0.2s;
}

#alphabet h6:hover{
    border: 1px solid #000000;

}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page2-part1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1524502397800-2eeaad7c3fe5?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

}
#page2-part2{
    height: 100%;
    width: 46%;
    
}

#page2-part2 img{
    width: 100%;
    height: 60%;
    
} 
#text{
    height: 17.4vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
#text h5{
    font-size: 1.8vw;
    font-weight: 700;
    padding-top: 6vw;

}
#text h6{
    font-size: 0.9vw;
    font-weight: 700;
    padding-top: 6vw;

}
#page2-part1 h1{
    font-family: "Monument Extended Bold";
    font-size: 3vw;
    font-weight: 700;
    display: flex;
    padding-top: 46vw;

}
#page3{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}
.circle {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    position: absolute;
    font-size: 48px;
    font-weight: 100;
    color: black;
  }

  .arrow::before {
    content: '\2192'; /* Unicode for right arrow */
  }

  .circle-text {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-text span {
    position: absolute;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: black;
    white-space: nowrap;
  }

#page3-part1{
    height: 90%;
    width: 50%;
    /* background-color: aqua;   */
    padding: 8vw 6vw;
    padding-left: 9vw;

}
#page3-part2{
    height: 100%;
    width: 70%;
    /* background-color: white; */
    
}
#page3-part1 h5{
    font-size: 1.3vw;
    font-weight: 700;
    padding-top: 7.5vw;
    
    

}
#page3-part2{
    height: 90%;
    width: 70%;
    
}

#page3-part2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 30%;   
} 

#page4{
    height: 70%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 2vw; */
}
#hold{
    height: 100%;
    width: 90%;
    /* background-color: blue; */
}
#hold img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 40% 10%;

}
#page5{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 5vw 4vw;
}
#page5>h1{
    text-align: center;
    font-family: "Monument Extended Bold";
    text-transform: uppercase;
    font-size: 3vw;
    margin-bottom: 8vh;
    
}
.elem{
    height: 15vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}
.elem img{
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    left: 17%;
    opacity: 0;
    transition: all ease 0.3s;
}
.elem h4{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 600;
    width: 6%;
}
.elem .elem-part2{
    width: 45%;
}
.elem .elem-part2{
    font-size: 1.2vw;
    font-weight: 500;
}
.elem-part2 h5{
    font-size: 0.7vw;
    font-weight: 600;
    text-transform: uppercase;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid #000;

}
.elem:hover img{
    opacity: 1;
}

#page6{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    padding: 3.5vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#page6-part1{
    height: 95%;
    width: 45%;
    /* background-color: blue; */
}
#page6-part1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;


}

#page6-part2{
    height: 95%;
    width: 60%;
    margin-left: 3.5vw;
    /* background-color: rgb(133, 133, 234); */
}

#page6-part2 h1{
    font-family: "Monument Extended Bold";
    font-size: 2.5vw;
}
#page6-part2 h3{
    font-family: "Monument Extended Bold";
    font-size: 0.9vw;
    font-weight: 100;
    line-height: 3vh;
    margin-top: 2vw;
}
#page6-part2 h4{
    margin-top: 2vw;
    
}
#image{
    height: 54%;
    width: 100%;
    /* background-color: blue; */
    margin-top: 2.8vw;
    display: flex;
    justify-content: space-between;

}

#page6-part2 img{
    height: 100%;
    width: 48%;
    object-fit: cover;
} 

#page7{
    height: 70%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 2vw; */
}
#hold2{
    height: 100%;
    width: 90%;
    /* background-color: blue; */
}
#hold2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 40% 10%;

}

#page8{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    margin-top: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page8-part1{
    height: 100%;
    width: 55%;
    background-image: url(https://images.unsplash.com/photo-1618375531912-867984bdfd87?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* background-image: url(https://images.unsplash.com/photo-1524502397800-2eeaad7c3fe5?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-size: cover;
    background-position: center;

}
#page8-part2{
    height: 100%;
    width: 40%;
}

#page8-part2 img{
    width: 100%;
    height: 66%;
    object-fit: cover;
    object-position: bottom;

    
} 
#text8{
    height: 17.4vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
#text8 h5{
    font-size: 1.8vw;
    font-weight: 700;
    padding-top: 3.8vw;

}
#text8 h6{
    font-size: 0.9vw;
    font-weight: 700;
    padding-top: 3.8vw;

}

#marque{
    /* height: 15vh; */
    width: 100%;
    /* background-color: red; */
    padding: 0.8vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 6vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}
#marque h1{
    display: inline-block;
    font-family: "Monument Extended Bold";
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    margin-right: 16px;
    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes text {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
        
    }

}

#footer{
    height: 100%;
    width: 100%;
}
